
<div class="container">
    <div class="row">
    <div class="card-header col-lg-12">
        <h2>Puerto de Navacerrada</h2>
    </div>
    <div class="card-body col-lg-12">
      <div class="row">
      <div class="col-lg-6">
      <h3>Pistas Balizadas <i class="	fa fa-font-awesome"></i></h3>
      <table class="table">
        <tbody>
          <tr class="table-primary">
            <td>Numero de pistas</td>
            <td>8</td>
            <td>Kilómetros totales</td>
            <td>6,2</td>
        </tr>
        <tr class="table-success">
            <td>Pista verdes</td>
            <td>4</td>
            <td>Pista azules</td>
            <td>6</td>
        </tr>
        <tr class="table-danger">
            <td>Pista Rojas</td>
            <td>13</td>
            <td>Número de remontes</td>
            <td>13</td>
        </tr>
        </tbody>
      </table>
      <h3>Precios de los Forfaits <i class="fa fa-cc-visa"></i></h3>
      <table class="table">
          <thead>
              <tr class="table-success">
                  <td >Numero de días</td>
                  <td>Temporada Alta</td>
                  <td>Temporada Baja</td>
              </tr>
          </thead>
          <tbody>
              <tr class="table-primary">
                  <td>1 día</td>
                  <td>35€</td>
                  <td>26€</td>
              </tr>
              <tr class="table-primary">
                  <td>2 días</td>
                  <td>65€</td>
                  <td>48€</td>
              </tr>
              <tr class="table-primary">
                  <td>5 días</td>
                  <td>140€</td>
                  <td>89€</td>
              </tr>
            </tbody>
      </table>
      </div>
      <figure class="col-lg-6">
          <img src="./assets/plano_lapinilla.jpg" alt="Plano La Pinilla" title="Plano La Pinilla">
      </figure>
    </div>

    <div class="card row">
      <div class="card-header col-lg-12">
        <h4>Información adicional:</h4>
      </div>
      <div class="card-body">
          <p class="card-text">La estación de esquí de La Pinilla está situada en la Sierra de Ayllón del Sistema Central. Pertenece al término municipal de Cerezo de Arriba, en la provincia de Segovia, comunidad autónoma de Castilla y León, España.</p>
      </div>
    </div>
  </div>
