<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/IgnacioPallares.png" alt="Foto Ignacio Pallarés">
          <div class="card-body">
            <h4 class="card-title">Ignacio Pallarés</h4>
            <p class="card-text">Ignacio Pallarés es estudiante de último curso de Ingeniería Informática en la Escuela Politécnica Superior de
              la UAM. Actualmente está cursando la Beca BabelCamp 2018. Es experto en CSS y HTML5. Practica esquí. en Babel
              Servicios de información.</p>
          </div>
          <div class="container  card-footer">
            <div class="row">
              <div class="col-6">
                <a class="btn btn-primary" href="mailto: ignacio.pallares@babel.es">
                  <i class="fa fa-envelope" alt="david.gonzalez@babel.es"></i>
                </a>
              </div>
              <div class="col-6">
                <a class="btn btn-primary" href="https://www.linkedin.com/in/ignacio-pallar%C3%A9s-jim%C3%A9nez-393358157/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/AngelMartin.png" alt="Foto Ángel Martín">
          <div class="card-body">
            <h4 class="card-title">Ángel Martín</h4>
            <p class="card-text">Ángel Martín es estudiante de último año de Ingeniería Informática en la UVA (Universidad de Valladolid). Actualmente
              está cursando la Beca BabelCamp 2018 en Babel. Le apasiona la maquetación y el CSS. Practica snowboard y la
              falta de páginas web con información acerca de las pistas le motivó para la creación de la SCentral Stations.</p>
          </div>
          <div class="container  card-footer">
            <div class="row">
              <div class="col-6">
                <a class="btn btn-primary" href="mailto: angel.martin@babel.es">
                  <i class="fa fa-envelope" alt="david.gonzalez@babel.es"></i>
                </a>
              </div>
              <div class="col-6">
                <a class="btn btn-primary" href="https://es.linkedin.com/in/angel-martin-bartolome-458591ba">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/DavidGonzalez.png" alt="Foto David González">
          <div class="card-body">
            <h4 class="card-title">David González</h4>
            <p class="card-text">David González es estudiante de ingeniería de telecomunicaciones en la universidad Rey Juan Carlos. Actualmente
              está cursando la Beca BabelCamp 2018 en Babel. Sus dos pasiones son los videojuegos y la lectura.</p>
          </div>
          <div class="container card-footer">
            <div class="row">
              <div class="col-6">
                <a class="btn btn-primary" href="mailto: david.gonzalez@babel.es">
                  <i class="fa fa-envelope" alt="david.gonzalez@babel.es"></i>
                </a>
              </div>
              <div class="col-6">
                <a class="btn btn-primary" href="https://es.linkedin.com/in/david-gonz%C3%A1lez-endrinal-aa0492a2">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
