p{
  text-align: justify;
}
.col-md-4{
  height: 100%;
}

.card-img-top {
  border-radius: 126px 126px 126px 126px;
  -moz-border-radius: 126px 126px 126px 126px;
  -webkit-border-radius: 126px 126px 126px 126px;
  border: 0px solid #000000;
}

.card{
  border-radius: 200px 200px 98px 98px;
  -moz-border-radius: 200px 200px 98px 98px;
  -webkit-border-radius: 200px 200px 98px 98px;
  border: 0px solid #000000;
}
