p{
  text-align: justify;
}
/* 768 */
.col-md-4{
  min-height: 850px;
}
.card{
  min-height: 850px;
}
.soci{
  margin-bottom: 0;
}
.profile{
  max-width: 300px;
}
/*
@media only screen and (min-width: 765px){ */
  /* .profile{
    margin-right: 0;
    margin-left: 12px;
  } */
/* .card-img-top {
  border-radius:    ;
  -moz-border-radius:    ;
  -webkit-border-radius:    ;
} */
/*
.card{
  border-radius: 200px 200px 98px 98px;
  -moz-border-radius: 200px 200px 98px 98px;
  -webkit-border-radius: 200px 200px 98px 98px;
}
 */
