<form novalidate [ngClass]="oValidado" #form1="ngForm" (ngSubmit)="enviarInput()">
  <!--Text-->
  <fieldset class="container-fluid">
      <legend>Nueva Entrada</legend>

      <div class="form-group row ">
          <!--Etiqueta / Campo "Nombre"-->
          <label for="nombre" class="col-3">Nombre Usuario</label>
          <input type="text" class="form-control col-7 col-offset-2"
          name="nombre"  required minlength="3"
          placeholder="Indica el nombre (es obligatorio)"
          [(ngModel)]="oInputBlog.nombre"
          #nameState="ngModel">

      </div>
      <div class="error row text-center" [hidden]="nameState.valid || nameState.untouched ">
          <div class="error-message col-12 row text-center"
            [hidden]="!nameState.errors?.required">
            <p>*El nombre es obligatorio</p>
          </div>
          <div class="error-message row col-12 text-center"
            [hidden] = "!nameState.errors?.minlength">
            <p>*El nombre debe tener un mínimo de 3 caracteres</p>
          </div>
        </div>

      <div class="form-group row ">
          <!--Etiqueta / Campo "Correo"-->
          <label for="correo"  class="col-3">Correo</label>
          <input type="text" class="form-control col-7"
           name="correo"
          required pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
          placeholder="Indica el correo (es obligatorio)"
          [(ngModel)]="oInputBlog.correo"
          #correoState="ngModel">
          <!-- Validación correo -->
          <div class="error d-block" [hidden]="correoState.valid || correoState.untouched ">
            <div class="error-message"
              [hidden]="!correoState.errors?.required">
              <p>*El correo es obligatorio</p>
            </div>
            <div class="error-message"
              [hidden] = "!correoState.errors?.pattern">
               <p>*El formato debe ser del estilo xxx@xxx.xxx</p>
            </div>
          </div>
      </div>

      <div class="form-group row ">
        <!--Etiqueta / Campo "contraseña"-->
        <label for="correo"  class="col-3">Contraseña</label>
        <input type="password" class="form-control col-7"
         name="pass"
        required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
        placeholder="Indica la contraseña (es obligatorio)"
        [(ngModel)]="oInputBlog.pass"
        #passState="ngModel">
        <div class="error" [hidden]="passState.valid || passState.untouched ">
          <div class="error-message"
            [hidden]="!passState.errors?.required">
            <p>*La contraseña es obligatoria</p>
          </div>
          <div class="error-message"
            [hidden] = "!passState.errors?.pattern">
             <p>*La contraseña debe tener una longitud mínima de 8 </p>
             <p>*Mayúsculas, minúsculas y números.</p>
          </div>
        </div>
    </div>


      <div class="form-group row">
          <!--Etiqueta / Campo "telefono"-->
          <label for="telefono" class="col-3">Teléfono</label>
          <input type="text" class="form-control col-7"
           name="telefono"
          required pattern="^\d{9}$"
          placeholder="Indica el teléfono (es obligatorio)"
          [(ngModel)]="oInputBlog.telefono"
          #phoneState="ngModel">
      </div>
      <div class="error" [hidden]="phoneState.valid || phoneState.untouched ">
          <div class="error-message"
            [hidden]="!phoneState.errors?.required">
            <p>*El teléfono es obligatorio</p>
          </div>
          <div class="error-message"
            [hidden] = "!phoneState.errors?.pattern">
            <p>*El teléfono debe tener 9 digitos</p>
          </div>
      </div>


      <div class="form-group row">
        <!--Etiqueta / Campo "titulo"-->
        <label for="titulo" class="col-3">Título</label>
        <input type="text" class="form-control col-7"
        name="titulo"  required maxlength="100"
        placeholder="Indica el título (es obligatorio)"
        [(ngModel)]="oInputBlog.titulo"
        #tituloState="ngModel">
    </div>
    <div class="error" [hidden]="tituloState.valid || tituloState.untouched ">
        <div class="error-message"
          [hidden]="!tituloState.errors?.required">
          <p>*El titulo es obligatorio</p>
        </div>
      </div>


      <div class="form-group row">
         <!--Etiqueta / Campo "contenido"-->
        <label for="coments" class="col-3">Descripción</label>
        <textarea type="text" rows="7" class="form-control col-7"
         name="coments" maxlength="800"
        required
        placeholder="Introduce la información de tu entrada"
        [(ngModel)]="oInputBlog.descripcion"
        #comentsState="ngModel">
        </textarea>
      </div>
    <div class="error" [hidden]="comentsState.valid || comentsState.untouched ">
        <div class="error-message"
          [hidden]="!comentsState.errors?.required">
          <p>*El campo es obligatorio</p>
        </div>
    </div>

    <div class="row align-items-center">
      <!--Botone "Submit | Borrar"-->
      <div class="col-9 offset-2">
        <button type="submit" class="btn btn-primary mr-2"
        [disabled]="form1.invalid">
            Añadir</button>
        <button type="button" class="btn btn-primary"
        [disabled]="form1.pristine" (click)="borrarInput()" >
            Borrar</button>
      </div>
    </div>

  </fieldset>



</form>
