<form novalidate [ngClass]="oValidado" #form1="ngForm">
  <!--Text-->  
  <fieldset>
      <legend>Nueva Entrada</legend>
      <div class="form-group row">
          <!--Etiqueta / Campo "Mombre"-->                        
          <label for="nombre" class="col-3">Nombre Usuario</label>
          <input type="text" class="form-control col-9"
          name="nombre" id="nombre" required minlength="3"
          placeholder="Indica el nombre (es obligatorio)"
          [(ngModel)]="oInputBlog.nombre"
          #nameState="ngModel">
      </div>
      <!-- <div [hidden]="nameState.valid || nameState.untouched ">
          <div class="error-message"
            [hidden]="!nameState.errors?.required">
            El nombre es obligatorio</div>
          <div class="error-message"
            [hidden] = "!nameState.errors?.minlength">
            El nombre debe tener un mínimo de 3 caracteres
          </div>
        </div> -->

      <!-- <div class="form-group row">
          
          <label for="email"  class="col-3">Correo</label>
          <input type="text" class="form-control col-9"
          id="email" name="email"
          required pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/";
          placeholder="Indica el correo (es obligatorio)"
          [(ngModel)]="oInputBlog.correo"
          #correoState="ngModel">
      </div>    -->   
      <!-- <div [hidden]="correoState.valid || correoState.untouched ">
        <div class="error-message"
          [hidden]="!correoState.errors?.required">
          El correo es obligatorio</div>
        <div class="error-message"
          [hidden] = "!phoneState.errors?.pattern">
          El correo tiene que tener formato xxx@xx.xx
        </div>
      </div> -->

      <!-- <div class="form-group row">
         
          <label for="telefono" class="col-3">Teléfono</label>
          <input type="text" class="form-control col-9"
          id="telefono" name="telefono"
          required pattern="^\d{9}$"
          placeholder="Indica el teléfono (es obligatorio)"
          [(ngModel)]="oInputBlog.telefono"
          #phoneState="ngModel">
      </div> -->
      <!--  <div [hidden]="phoneState.valid || phoneState.untouched ">
          <div class="error-message"
              [hidden]="!phoneState.errors?.required">
              El teléfono es obligatorio</div>
          <div class="error-message"
              [hidden] = "!phoneState.errors?.pattern">
              El teléfono debe tener 9 digitos
          </div>
      </div> -->
  </fieldset>  

  <!-- <div class="row">
    <div class="col-9 offset-3">
      <button type="submit" class="btn btn-primary mr-2"
      [disabled]="form1.invalid">
          Añadir</button>
      <button type="button" class="btn btn-primary"
      [disabled]="form1.pristine">
          Borrar</button>
    </div>
  </div> -->      

</form>