html{
  max-width: 1600px;
}

body {
  margin: 0px;
}

html:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/montana-nevada.jpg);
  opacity: 0.1;
  overflow:auto;
  z-index: -1;
}

.content
{
  padding-top: 5%;
    /* height: 100%;
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px); */
}

.templates {
  margin-top: 6px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Titillium Web', sans-serif;

  text-align: center;
  align-content: center;
   
  margin-left: auto;
  margin-right: auto; 
}



