


<nav class="navbar navbar-expand-sm navbar-dark ">
    <img src="./assets/icono_snow.png" alt="logo">
  <h1>SCentral Stations</h1>

  <button class="navbar-toggler navbar-toggler-right" [ngClass]="claseBoton" type="button" (click)="botonMenu()" >
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- Links -->
  <ul class="navbar-nav" [ngClass]="claseUl">
      <li class="nav-item">
          <button class="navbar-toggler navbar-toggler-right" type="button" (click)="botonMenu()" >
            <span class="navbar-toggler-icon"></span>
          </button>
      </li>
    <li class="nav-item">
      <a class="nav-link" (click)="botonSubMenu()">Estaciones <i [className]="this.arrowClass" id="btnS"></i></a>
      <ul [ngClass]="claseSubmenu" id="sub-menu">
          <li><a class="nav-link" (click)="botonSubMenu()" routerLinkActive="active" routerLink="estaciones/puerto-navacerrada">Puerto de Navacerrada</a></li>
          <li><a class="nav-link" (click)="botonSubMenu()" routerLinkActive="active" routerLink="estaciones/sierra-bejar">Sierra de Béjar</a></li>
          <li><a class="nav-link" (click)="botonSubMenu()" routerLinkActive="active" routerLink="estaciones/valdesqui">Valdesquí</a></li>
          <li><a class="nav-link" (click)="botonSubMenu()" routerLinkActive="active" routerLink="estaciones/la-pinilla">La Pinilla</a></li>
      </ul>
    </li>
    <li class="nav-item link-menu">
      <a class="nav-link" routerLinkActive="active" routerLink="blog">Blog <i class="fa fa-rss"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="about">About <i class="fa fa-question"></i></a>
    </li>
  </ul>
</nav>
