.content { 
    bottom: 0px;
    height: auto; /* valor que necesites */
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
    .content p{
        display: inline-block;
    }
    .content img{
        width: 12%;
        height: 12%;
    }