<!-- <address class="content">
  <div class="vcard">
      <p>
          <span class="org">BABEL Sistemas de Información</span> -
          <span class="adr">
              <span class="locality">Madrid</span>
              <span class="country-name">España</span>
          </span>
      </p>
      <p>
          <figure>
              <img src="./assets/logo_BABEL_PNG_Fondo transparente.png" alt="Babel Sistemas de Informacion">
          </figure>
      </p>
  </div>
</address>
 -->
 <footer class="page-footer font-small blue pt-4 mt-4">

    <div class="container-fluid text-center text-md-center">

                <p>
                    <figure>
                        <img src="./assets/logo_BABEL_PNG_Fondo transparente.png" alt="Babel Sistemas de Informacion">
                    </figure>
                </p>
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <p>
            <span class="org">BABEL Sistemas de Información</span> -
            <span class="adr">
                <span class="locality">Madrid</span>
                <span class="country-name">España</span>
            </span>
        </p>
    </div>

</footer>
