/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

*,
*::before, *::after, *:before, *:after{
    box-sizing: border-box;
}
 ul{
     margin: 0;
     padding: 0;
     list-style: none;
}

html:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/montana-nevada.jpg);
    opacity: 0.1; 
    overflow:auto;
    z-index: -1;
    background-size: cover;
}

  
