.fotoPlano{
    display: inline;
}

    .fotoPlano img{
        width: 90%;
        height: 90%;
        max-width: 450px;
        max-height: 520px;

        min-width: 250px;
        min-height: 320px;

        
        
        display: block;
        margin-left: auto;
        margin-right: auto; 

    }

.article_2{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}
    .article_2 h3{
        font-weight: normal;
    }

.pistas, .precios{
    margin-left: auto;
    margin-right: auto; 
}

.FichaTiempo{
    float: left;
    width: 30%;
    height: 100%;
    display: inline;
}
.FichaTiempo td{
    padding: 10px;
}
    